body {
    font: 12px Arial, Helvetica, sans-serif, 宋体;
}

#warpper {
    margin: 0 auto;
    width: 980px;
}

input {
    vertical-align: middle
}

a {
    cursor: pointer;
    color: #333333
}

#heard {
    border-bottom: 1px solid #7A7F89;
    padding-top: 15px;
    overflow: hidden;
}

#heard .logo {
    float: left;
    display: block;
    height: 39px;
    width: 311px;
}

.help-center {
    float: right;
    line-height: 39px;
}

.help-center a {
    color: #333333
}

.account {
    float: right;
    line-height: 39px;
    margin-right: 40px;
    color: #666;
}

.account a {
    color: #a10000;
    padding: 0 5px;
}

#loaction {
    background: url(../img/newprom.gif);
    background-position: 0 0;
    height: 28px;
    width: 540px;
    margin-top: 10px;
}

#loaction em {
    display: inline-block;
    font-weight: bold;
    line-height: 28px;
    text-align: center;
    width: 170px;
    color: #fff
}

#loaction span {
    color: #666;
    display: inline-block;
    font-weight: bold;
    line-height: 28px;
    text-align: center;
    width: 170px;
}

#content {
    margin-top: 10px;
}

#content .cart-top {
    height: 30px;
    overflow: hidden;
    padding-left: 45px;
    width: 935px;
    background: url(../img/newpromotion.gif) no-repeat;
    background-position: -460px 0;
}

#content h2 {
    line-height: 38px;
    margin-right: 8px;
    font-size: 18px;
    font-weight: bold;
}

#content .tip {
    margin-top: 6px;
    color: #656565;
    line-height: 20px;
    margin-bottom: 10px;
}

#content span {
    color: #a10000;
}

#cart-product table {
    padding: 0;
    border-spacing: 0;
    width: 100%;
    border-collapse: separate
}

table th,
table td {
    text-align: center;
    vertical-align: middle;
}

.td-del {
    /* display: inline-block; */
    float: left;
    border: 0 none;
    height: 20px;
    line-height: 20px;
    vertical-align: middle;
    width: 17px;
    text-indent: -9999em;
    /* overflow: hidden; */
    background: url(../img/cartsprite.png) no-repeat -85px 0 !important;
}

.td-qty {
    margin: 0 5px;
    width: 30px;
    height: 18px;
    border: 1px solid #D8D8D8;
    float: left;
    text-align: center;
}

.qty>div {
    transform: translateX(55px)
}

.td-add {
    /* display: inline-block; */
    float: left;
    border: 0 none;
    height: 20px;
    line-height: 20px;
    vertical-align: middle;
    width: 17px;
    text-indent: -9999em;
    overflow: hidden;
    background: url(../img/cartsprite.png) no-repeat 0 0;
}

#cart-product th {
    border-top: 1px solid #DCDFE4;
    border-bottom: 1px solid #B7B7B7;
    background: url(../img/carthd.png) repeat-x;
    height: 37px;
}

#cart-product .title-white {
    font-size: 0;
    line-height: 0;
    overflow: hidden;
    table-layout: fixed;
    width: 15px;
}

.bd-left {
    border-left: 1px solid #DCDFE4;
}

.bd-right {
    border-right: 1px solid #DCDFE4
}

.bar-title {
    text-align: left;
    width: 80px;
    margin-right: 10px
}

#cart-product .image {
    width: 50px
}

table {
    border-bottom: 1px solid #DCDFE4;
}

.bar-summary {
    margin-top: 20px;
    padding: 12px 10px 0px 0;
    background: none repeat scroll 0 0 #FFFEF5;
    border: 1px solid #EBE5BB;
    line-height: 25px;
    width: 968px;
    position: relative;
    top: 0px;
    z-index: 1;
    overflow: hidden;
}

#bar-summary .bar {
    width: auto;
    padding: 14px 42px 0 13px;
    text-align: left;
}

.all-products-ckb {
    margin-right: 10px;
    height: 13px;
    width: 13px;
}

.del {
    margin-left: 20px
}

.bar span {
    margin-left: 42px
}

.bar span em {
    color: #a10000;
    font-weight: bold;
}

.summary {
    float: left;
    padding: 10px 10px 10px 13px;
}

.summary .amount {
    font-size: 24px;
    color: #a10000;
    font-weight: bold
}

.amount em {
    font-weight: bold
}

.btn-panel {
    padding: 0 0 15px 0;
    float: right;
}

.btn-panel .go-buy {
    background: url(../img/newpromotion.gif) no-repeat -160px 0;
    color: #666;
    height: 37px;
    line-height: 37px;
    margin-left: 10px;
    font-size: 14px;
    text-align: center;
    width: 122px;
    display: inline-block;
    vertical-align: middle;
    overflow: hidden;
}

.checkout {
    background: url(../img/newpromotion.gif) no-repeat 0 0;
    color: #fff;
    height: 50px;
    line-height: 50px !important;
    margin-left: 10px;
    padding-left: 50px;
    width: 110px;
    display: inline-block;
    vertical-align: middle;
    font: normal 20px Microsoft Yahei, Microsoft JHenghei, SimHei;
}